<div class="row justify-content-center">
    <div class="col-lg-8">
        <h4 class="text-muted">Make new booking</h4>
        <form (ngSubmit)="handleSubmit(form.value)" class="col-lg-12" #form="ngForm" novalidate>
            <div 
                class="row justify-content-center" 
                ngModelGroup="user"
            >
                <div class="form-group col-lg-6">
                    <label for="name">User name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="name"
                        name="name" 
                        aria-describedby="name" 
                        placeholder="Enter name of the user"
                        ngModel
                        #userName="ngModel"
                        required
                    >
                    <div class="form-control-feedback" *ngIf="userName.errors?.required && userName.touched">
                        Field required
                    </div>
                </div>      
                <div class="form-group col-lg-6">
                    <label for="email">User email</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="email"
                        name="email" 
                        aria-describedby="email" 
                        placeholder="Enter the email of the user"
                        ngModel
                        #userEmail="ngModel"
                        required
                    >
                    <div class="form-control-feedback" *ngIf="userEmail.errors?.required && userEmail.touched">
                        Field required
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-lg-6"  [ngClass]="{'has-danger' : hotel.errors && hotel.touched }">
                    <label for="hotel">Hotel name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="hotel" 
                        placeholder="Enter the hotel name for this booking"
                        name="hotel"
                        ngModel
                        #hotel="ngModel"
                        required
                    >
                    <div class="form-control-feedback" *ngIf="hotel.errors?.required && hotel.touched">
                        Field required
                    </div>
                </div>
                <div class="form-group col-lg-6"  [ngClass]="{'has-danger' : price.errors && price.touched }">
                    <label for="price">Price</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="price" 
                        placeholder="Enter the cost of this booking"
                        name="price"
                        ngModel
                        #price="ngModel"
                        required
                    >
                    <div class="form-control-feedback"*ngIf="price.errors?.required && price.touched">
                        Field required
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-lg-12"  [ngClass]="{'has-danger' : description.errors && description.touched }">
                    <label for="description">Description</label>
                    <textarea 
                        class="form-control" 
                        id="description" 
                        placeholder="Enter description of booking"
                        name="description"
                        ngModel
                        #description="ngModel"
                        required
                    ></textarea>
                    <div class="form-control-feedback" *ngIf="description.errors?.required && description.touched">
                        Field required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 float-left">
                    <button 
                        type="submit" 
                        class="btn btn-primary"
                        [disabled]="form.invalid"
                    >
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
